.wrapper {
    padding: 50px 10px;
}
.title {
    font-size: 2.8rem;
    color: var(--primary-color);
    margin-bottom: 30px;
}
.title__loading {
    position: absolute;
    text-align: center;
    font-size: 2.4rem;
}

table {
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    border-bottom: 1px solid #999;
}
.table tbody tr td {
    border-top: 1px solid #999;

    padding: 20px 0;
}
.table tbody tr td img {
    width: 60px;
    height: 60px;
}
.delete a {
    margin-top: unset;
    background: var(--primary);

    &:hover {
        opacity: 0.8;
    }
}
