.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding: 8px 20px;
    margin-top: 36px;
    border-radius: 4px;
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &:hover {
        background-color: var(--primary);
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}
//button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
