.admin__header {
    width: 100%;
    padding: 20px 0px;
    background: var(--primary-color);
}
.admin__nav-top {
    width: 100%;
}
.admin__nav-wrapper-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4rem;
}
.admin__nav-top-right img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
}
.admin__nav-top-right {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}
.search__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin__nav-top-right span i {
    color: var(--white);
    cursor: pointer;
}
.admin__nav-wrapper-top .logo {
    font-size: 1.2rem;
    color: var(--white);
}

.search__box input {
    width: 500px;
    padding: 12px;
}
.admin__menu {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: var(--card-bg-02);
}
.admin__navigation {
    text-align: center;
}
.admin__menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2.7rem;
}
.admin__menu-list a {
    color: var(--primary-color);
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 5px;
}
.active__admin-menu {
    background: var(--white);
}
