.container {
    padding: 0 1rem;
}
.img__details img {
    width: 100%;
}
.product__details {
    margin-top: 80px;
}
.product__details h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.rating {
    margin-bottom: 18px;
    display: flex;
    gap: 4px;
}
.rating i {
    font-size: 1.2rem;
    color: var(--coral);
}
.rating p {
    margin-left: 50px;
    font-size: 1.4rem;
}
.rating p span {
    color: var(--coral);
    font-weight: 500;
}
.product__details .price {
    font-size: 1.8rem;
    font-weight: 500;
    padding-right: 38px;
}
.product__details .shortdesc {
    font-size: 1.4rem;
    margin-top: 20px;
    opacity: 0.7;
}
.tab__wrapper {
    display: flex;
    gap: 30px;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 2.2rem;
    margin-top: 50px;
    cursor: pointer;
}
.tab__content,
.product__review {
    margin: 50px 0;
}
.tab__content p {
    font-size: 1.4rem;
    line-height: 1.8;
    opacity: 0.7;
}
.active__tab {
    font-weight: 600;
    color: var(--coral);
}
.product__review span {
    font-size: 1.4rem;
}
.product__review p {
    font-size: 1.4rem;
    opacity: 0.7;
}
.review__wrapper ul li span {
    color: var(--coral);
    font-weight: 600;
}
.review__wrapper ul li p {
    margin-top: 10px;
}
.review__wrapper ul li h6 {
    margin-bottom: 2px;
    font-size: 1.4rem;
}
.review__form {
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h4 {
        font-weight: 600;
        font-size: 1.4rem;
        margin: 8px 0px;
    }
}
.form__group input,
.form__group textarea {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
}
.form__group input:focus,
.form__group textarea:focus {
    outline: none;
}
.form__group {
    margin-bottom: 30px;
}
.form__group span {
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
    color: var(--coral);
    font-weight: 600;
    cursor: pointer;
}
.form__group span:nth-last-of-type(1) {
    margin-left: 60px;
}
.form__group span:nth-last-of-type(2) {
    margin-left: 60px;
}

.form__group span:nth-last-of-type(3) {
    margin-left: 60px;
}

.form__group span:nth-last-of-type(4) {
    margin-left: 60px;
}
